:root {    
    /* base colors */
    --white:#FFFFFF;
    --midnight-blue: #000048;
    --black: #000000;
    
    /* accent-color */
    --dark-teal: #06C7CC;
    --medium-teal: #26EFE9;
    --light-teal: #97F5F7;
    
    --dark-blue: #2F78C4;
    --medium-blue: #6AA2DC;
    --light-blue: #92BBE6;
    --ultra-light-blue: #E0EBF6;
    
    --dark-plum: #2E308E;
    --medium-plum:#7373D8;
    --light-plum: #85A0F9;

    /* neutral colors */
    --pressed: #222222;
    --dark-gray: #53565A;
    --medium-gray:#97999B;
    --light-gray: #D0D0CE;
    --very-light-gray: #EFEFEE;
    --ultra-light-gray: #F6F6F5;

    /* highlight color */
    --highlight-red: #B81F2D;
    --highlight-yellow: #E9C71D;
}

/* added for multi-checkbox */
:root {
    --form-element-border: #22222299;
    --form-element-label: #C4C4C4;

    --nightmode-dropdown: #00006C;
    --nightmode-dropdown-hover: #343695;

    --multi-checkbox-text: #6C757D;

    --dropdown-shadow: #00000040;
    --dropdown-option-border: #F2F2F2;
    --dropdown-option-hover: #FAFAFA;
}